<html>
<head>
<title>Micropub client</title>
<meta charset="UTF-8"/>
</head>
<body>
<div id="mainApp">

<h1><a @click="goHome">Home</a>: {{siteUrl}}</h1>

<div v-if="currentScreen === 'authSection'">
    <auth-form v-on:authobtained="showEditor"></auth-form>
    <button @click="resetApp">Reset app</button>
</div>

<div v-if="currentScreen === 'editorSection'">
    <h1>New post</h1>
    <post-editor v-bind:token="token" v-bind:micropuburl="micropuburl"></post-editor>
    <h2>Media support</h2>
    <media-manager v-bind:token="token" v-bind:mediaurl="mediaurl" ref="media"></media-manager>
</div>

<script src="vue.js"></script>

<script type="text/x-template" id="authComponent">
<div class="authSection">
    <form :action="authTarget" @submit.prevent="authSite" method="GET">
        <p>
        <label for="indie_auth_url">Web Address:</label>
        <input id="indie_auth_url" type="url" name="me" v-model="siteUrl"
               required placeholder="yourdomain.com" />
        </p>
        <p><button type="submit">Sign In</button></p>
        <input type="hidden" name="client_id" value="http://localhost:4321" />
        <input type="hidden" name="redirect_uri" value="http://localhost:4321" />
        <input type="hidden" name="scope" value="create update"/>
        <input type="hidden" name="response_type" value="code"/>
    </form>
</div>
</script>

<script type="text/x-template" id="postEditor">
<div class="postSection">
    <form :action="micropuburl"
          @submit.prevent="submitPost"
          method="POST" enctype="multipart/form-data">
        <div class="post-editor">
            <p><input type="text" name="name" v-model="postTitle" placeholder="Optional title"/></p>
            <p><textarea placeholder="blog post here" v-model="postBody" name="content"></textarea></p>
            <p><input type="file" name="photo"
                      @change="loadFile($evt.target.files)"
                      accept="image/*"></p>
        </div>
        <p><button type="submit">Post</button></p>
        <input type="hidden" name="h" v-bind:value="postType"/>
        <input type="hidden" v-bind:value="token" name="access_token"/>
        <p><input :value="postURL"></p>
    </form>
</div>
</script>

<script type="text/x-template" id="mediaManager">
<div class="mediaSection">
    <form :action="mediaurl"
          @submit.prevent="uploadFiles"
          method="POST" enctype="multipart/form-data">
        <input type="file"
               @change="loadFiles($event.target.files)"
               multiple name="file" accept="image/*" required/>
        <input type="hidden" v-bind:value="token" name="access_token"/>
        <input type="submit">
    </form>
    <ol v-if="fileList.length > 0">
        <li v-for="fileUrl in fileList">
            <img v-bind:src="fileUrl" style="width:150px;height:auto">
            <input type="text" readonly v-bind:value="fileUrl" size="30">
        </li>
    </ol>
</div>
</script>

<script src="main.js"></script>
</div>
</body>
</html>
