<html>
<head>
<title>Micropub client</title>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1" />
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<link href="style.css" rel="stylesheet"/>
</head>
<body>
<div id="mainApp">

<div v-if="currentScreen === 'authSection'">
    <auth-form v-on:authobtained="showEditor"></auth-form>
    <!--<button @click="resetApp">Reset app</button>-->
</div>

<div class="post-editor-screen" v-if="currentScreen === 'editorSection'">
<div class="top-bar">
    <a ><i class="fa fa-bars"></i></a>
    <h1>{{siteUrl}}</h1>
    <a @click="goHome"><i class="fa fa-sign-out-alt"></i></a>
</div>
    <h1 class="post-type-title">New post</h1>
    <post-editor v-bind:token="token" v-bind:micropuburl="micropuburl"></post-editor>
    <h2 @click="mediaExpanded = !mediaExpanded">Media
        <i :class="mediaChevron"></i>
    </h2>
    <media-manager
            v-show="mediaExpanded"
            v-bind:token="token"
            v-bind:mediaurl="mediaurl" ref="media"></media-manager>
</div>

</div>

<script src="vue.js"></script>

<script type="text/x-template" id="authComponent">
<div class="authSection">
    <form :action="authTarget" @submit.prevent="authSite" method="GET">
        <p>
        <label for="indie_auth_url">Indieweb log in:</label>
        <input id="indie_auth_url" type="url" focus name="me" v-model="siteUrl"
               required placeholder="yourdomain.com" />
        </p>
        <p><button type="submit">Sign In</button></p>
        <input type="hidden" name="client_id" value="http://localhost:4321" />
        <input type="hidden" name="redirect_uri" value="http://localhost:4321" />
        <input type="hidden" name="scope" value="create update"/>
        <input type="hidden" name="response_type" value="code"/>
    </form>
</div>
</script>

<script type="text/x-template" id="postEditor">
<div class="postSection">
    <form :action="micropuburl"
          @submit.prevent="submitPost"
          method="POST" enctype="multipart/form-data">
        <div class="post-editor">
            <p><input
                    type="text" class="post-title" focus
                    name="name" v-model="postTitle"
                    placeholder="Optional title"/></p>
            <p><input type="file" name="photo"
                      @change="loadFile($event.target.files)"
                      ref="fileField"
                      accept="image/*"></p>
            <p><textarea
                    placeholder="blog post here"
                    class="post-body"
                    v-model="postBody" name="content"></textarea></p>
        </div>
        <input type="hidden" name="h" v-bind:value="postType"/>
        <p>
            <button type="submit">Post</button>
        <span v-show="postURL !== ''">
            <a :href="postURL" target="_blank">View post</a>
            <input :value="postURL" readonly>
        </span>
        </p>
    </form>
</div>
</script>

<script type="text/x-template" id="mediaManager">
<div class="mediaSection">
    <form :action="mediaurl"
          @submit.prevent="uploadFiles"
          method="POST" enctype="multipart/form-data">
        <input type="file"
               @change="loadFiles($event.target.files)"
               multiple name="file" accept="image/*"
               ref="fileField"
               required/>
        <input type="submit">
    </form>
    <ol v-if="fileList.length > 0" class="media-list">
        <li v-for="fileUrl in fileList">
            <img v-bind:src="fileUrl">
            <input type="text"
                   class="file-url"
                   readonly v-bind:value="'![](' + fileUrl + ')'" size="30">
        </li>
    </ol>
</div>
</script>

<script src="main.js"></script>
</body>
</html>
