<!DOCTYPE html>
<html>
<head>
<title>Micropub client</title>
<meta charset="UTF-8"/>
<meta name="viewport" content="width=device-width, user-scalable=yes, initial-scale=1" />
<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
<link rel="icon" href="favicon.png?v=0"/>
<link rel="manifest" href="/manifest.json?v=2">
<link href="style.css" rel="stylesheet"/>
</head>
<body>
<div id="mainApp">

<div v-if="currentScreen === ''" class="init-wait-screen">
<p>Initializing...</p>
</div>
<div v-if="currentScreen === 'authSection'">
    <auth-form v-on:authobtained="initEditor"></auth-form>
    <!--<button @click="resetApp">Reset app</button>-->
</div>

<div class="post-editor-screen boot-hidden" v-show="displayChrome">
    <div class="options-sidebar" v-show="showSidebar">
        <div class="top-bar">
            <a @click.prevent="toggleOptions"><i class="fa fa-bars"></i></a>
            <h1>Menu</h1>
        </div>
        <ul class="opts-menu">
            <li><a @click.prevent="triggerMenu('newPostSection')">New Post</a></li>
            <li><a @click.prevent="triggerMenu('quickNoteSection')">Quick note</a></li>
            <li><a @click.prevent="triggerMenu('editPostSection')">Edit Post</a></li>
            <li><a @click.prevent="triggerMenu('replySection')">Reply</a></li>
            <li><a @click.prevent="triggerMenu('shareLinkSection')">Share link</a></li>
            <li><a @click.prevent="triggerMenu('likeSection')">Like page</a></li>
            <li><a @click.prevent="triggerMenu('rsvpSection')">RSVP</a></li>
            <li class="separator"></li>
            <li><a @click.prevent="triggerMenu('msgQueueSection')">Queue</a></li>
            <li class="separator"></li>
            <li><a @click="reload">Reload app</a></li>
            <li><a @click="resetApp">Reset app</a></li>
        </ul>
    </div>
    <div class="top-bar">
        <a @click.prevent="toggleOptions"><i class="fa fa-bars"></i></a>
        <h1>{{siteUrl}}</h1>
        <a @click="signOut"><i class="fa fa-sign-out-alt"></i></a>
    </div>
    <div v-show="currentScreen === 'msgQueueSection'">
        <h1 class="post-type-title">Messages Queue</h1>
        <msg-queue ref="queue"></msg-queue>
    </div>
    <div v-show="isEditorScreen">
        <div v-show="currentScreen === 'newPostSection'">
            <h1 class="post-type-title">New post</h1>
            <new-post v-bind:token="token" v-bind:micropuburl="micropuburl" v-bind:config="config"></new-post>
        </div>
        <div v-show="currentScreen === 'editPostSection'">
            <h1 class="post-type-title">Edit post</h1>
            <edit-post v-show="online"
                v-bind:token="token"
                v-bind:post-url.camel="postUrl"
                v-bind:micropuburl="micropuburl"></edit-post>
            <p v-show="!online">Currently offline, Cannot edit posts.</p>
        </div>
        <div v-show="currentScreen === 'quickNoteSection'">
            <h1 class="post-type-title">Quick note</h1>
            <quick-note v-bind:token="token"
                v-bind:post-url.camel="postUrl"
                v-bind:micropuburl="micropuburl" v-bind:config="config"></quick-note>
        </div>
        <div v-show="currentScreen === 'replySection'">
            <h1 class="post-type-title">Reply</h1>
            <reply-to v-bind:token="token"
                v-bind:post-url.camel="postUrl"
                v-bind:micropuburl="micropuburl" v-bind:config="config"></reply-to>
        </div>
        <div v-show="currentScreen === 'shareLinkSection'">
            <h1 class="post-type-title">Share</h1>
            <share-link v-bind:token="token"
                v-bind:post-url.camel="postUrl"
                v-bind:micropuburl="micropuburl" v-bind:config="config"></share-link>
        </div>
        <div v-show="currentScreen === 'likeSection'">
            <h1 class="post-type-title">Like &#9829;</h1>
            <like-page v-bind:token="token"
                v-bind:post-url.camel="postUrl"
                v-bind:micropuburl="micropuburl" v-bind:config="config"></like-page>
        </div>
        <div v-show="currentScreen === 'rsvpSection'">
            <h1 class="post-type-title">RSVP</h1>
            <rsvp-page v-bind:token="token"
                v-bind:post-url.camel="postUrl"
                v-bind:micropuburl="micropuburl" v-bind:config="config"></rsvp-page>
        </div>
        <div class="media-section" v-show="online && !!mediaurl">
        <h2 class="media-toggler" @click="mediaExpanded = !mediaExpanded">Media
            <i :class="mediaChevron"></i>
        </h2>
        <media-manager
                v-show="mediaExpanded"
                v-bind:token="token"
                v-bind:expanded="mediaExpanded"
                v-bind:mediaurl="mediaurl" ref="media"></media-manager>
        </div>
        <p v-show="!online">Offline - Media not available</p>
    </div>
</div>

<p class="credits"><a href="https://github.com/jjdelc/grumble">Grumble</a></p>
</div>

<script src="vue.js"></script>

<script type="text/x-template" id="authComponent">
<div class="authSection">
    <form :action="authTarget" @submit.prevent="authSite" method="GET">
        <p>
        <label for="indie_auth_url">Indieweb log in:</label>
        <input id="indie_auth_url" type="url" autofocus name="me" v-model="siteUrl"
               required placeholder="yourdomain.com" />
        </p>
        <p><button type="submit">Sign In</button></p>
        <input type="hidden" name="client_id" :value="clientID" />
        <input type="hidden" name="redirect_uri" :value="redirectURI" />
        <input type="hidden" name="scope" value="create update"/>
        <input type="hidden" name="response_type" value="code"/>
    </form>
</div>
</script>

<script type="text/x-template" id="newPostEditor">
<div class="postSection">
    <div class="post-overlay" v-show="showOverlay">
        <span>
        <i class="fa fa-sync fa-spin"></i>
        </span>
    </div>
    <form :action="micropuburl"
          @submit.prevent="submitPost"
          method="POST" enctype="multipart/form-data">
        <div class="post-editor">
            <p><input
                    type="text" class="post-title" autofocus
                    name="name" v-model="postTitle" autocomplete="off"
                    placeholder="Optional title"/></p>

            <p>
                <label>
                <img class="img-preview"
                     v-for="img in postImages"
                     v-bind:src="asDataUrl(img)"
                     v-show="postImages.length > 0" >
                <video class="vid-preview"
                   v-for="vid in postVideos"
                   v-bind:src="asDataUrl(vid)" controls muted
                   v-show="postVideos.length > 0" ></video>
                <input type="file" name="photo"
                      @change="loadFile($event.target.files)"
                      ref="fileField" multiple
                      tabindex="-1"
                      accept="image/*, video/*">
                </label>
            </p>
            <p><textarea ref="postBody"
                    placeholder="blog post here"
                    class="post-body"
                    v-model="postBody" name="content"></textarea></p>
        <input type="hidden" name="h" v-bind:value="postType"/>
        <div class="form-footer">
            <div class="form-syndication">
                <label v-for="target in syndication.syndicationTargets">
                <input type="checkbox" name="syndicate-to" :value="target.uid" v-model="syndicateTo">
                <img :src="target.service.photo">
                {{target.name}}
            </label>
            </div>
            <div class="form-submit">
            <span class="char-count">({{charCount}})</span>
            <button type="submit">Post</button>
            </div>
        </div>
        <p v-show="postSuccessURL !== ''" class="new-post-link">
            <a :href="postSuccessURL" target="_blank">View post</a>
            <input :value="postSuccessURL" readonly>
        </p>
        </div>
    </form>
</div>
</script>

<script type="text/x-template" id="editPostEditor">
<div class="postSection">
    <div class="post-overlay" v-show="showOverlay">
        <span>
        <i class="fa fa-sync fa-spin"></i>
        </span>
    </div>
    <form :action="micropuburl" autocomplete="off"
          @submit.prevent="editPost"
          method="POST" enctype="multipart/form-data">
        <div class="post-editor">
            <p class="post-edit-url">
                <input
                    type="url" class="post-title" autofocus
                    name="url" v-model="postUrl"
                    placeholder="URL to edit"/>
                <button @click.prevent="sourcePost">Go</button>
            </p>
            <div v-show="editing">
            <p><input
                    type="text" class="post-title" autofocus
                    name="name" v-model="postTitle"
                    placeholder="Optional title"/></p>
            <p><textarea ref="postBody"
                    placeholder="blog post here"
                    class="post-body"
                    v-model="postBody" name="content"></textarea></p>
            <div class="form-footer">
                <div class="form-submit">
                <span class="char-count">({{charCount}})</span>
                <button type="submit">Edit</button>
                </div>
            </div>
            <p v-show="editSuccess" class="new-post-link">
                <a :href="postUrl" target="_blank">View post</a>
                <input :value="postUrl" readonly>
            </p>
        </div>
        </div>
    </form>
</div>
</script>

<script type="text/x-template" id="mediaManager">
<div class="mediaManager">
    <form :action="mediaurl"
          @submit.prevent="uploadFiles"
          method="POST" enctype="multipart/form-data">
        <input type="file"
               @change="loadFiles($event.target.files)"
               multiple name="file" accept="image/*, video/*"
               ref="fileField"
               required/>
        <button type="submit"><i class="fa fa-upload"></i>&nbsp;</button>
    </form>
    <ol v-if="fileList.length > 0" class="media-list">
        <li v-for="fileUrl in fileList" @click="toggleItem($event.target)">
            <img v-bind:src="expanded?fileUrl:'/favicon.png'">
            <div class="pic-info">
                <p><label>URL: <input type="text"
                   class="file-url" @click.prevent="copyContent($event.target)"
                   readonly v-bind:value="fileUrl" size="30"></label></p>
                <p><label>MD: <input type="text"
                   class="file-url" @click.prevent="copyContent($event.target)"
                   readonly v-bind:value="'![](' + fileUrl + ')'" size="30"></label></p>

            </div>
        </li>
    </ol>
</div>
</script>


<script type="text/x-template" id="quickNoteEditor">
<div class="postSection">
    <div class="post-overlay" v-show="showOverlay">
        <span>
        <i class="fa fa-sync fa-spin"></i>
        </span>
    </div>
    <form :action="micropuburl"
          @submit.prevent="submitPost"
          method="POST" enctype="multipart/form-data">
        <div class="post-editor">
            <p><textarea ref="postBody"
                    placeholder="Quick note"
                    class="post-body"
                    v-model="postBody" name="content"></textarea></p>
            <p>
                <label>
                <img class="img-preview"
                     v-for="img in postImages"
                     v-bind:src="asDataUrl(img)"
                     v-show="postImages.length > 0" >
                <video class="vid-preview"
                       v-for="vid in postVideos"
                       v-bind:src="asDataUrl(vid)" controls muted
                       v-show="postVideos.length > 0" ></video>
                <input type="file" name="photo"
                      @change="loadFile($event.target.files)"
                      ref="fileField" multiple
                      tabindex="-1"
                      accept="image/*, video/*">
                </label>
            </p>
        <input type="hidden" name="h" v-bind:value="postType"/>
        <div class="form-footer">
            <div class="form-syndication">
                <label v-for="target in syndication.syndicationTargets">
                <input type="checkbox" name="syndicate-to" :value="target.uid" v-model="syndicateTo">
                <img :src="target.service.photo">
                {{target.name}}
            </label>
            </div>
            <div class="form-submit">
                <span class="char-count">({{charCount}})</span>
            <button type="submit">Post</button>
            </div>
        </div>
        <p v-show="postSuccessURL !== ''" class="new-post-link">
            <a :href="postSuccessURL" target="_blank">View post</a>
            <input :value="postSuccessURL" readonly>
        </p>
        </div>
    </form>
</div>
</script>

<script type="text/x-template" id="replyEditor">
<div class="postSection">
    <div class="post-overlay" v-show="showOverlay">
        <span>
        <i class="fa fa-sync fa-spin"></i>
        </span>
    </div>
    <form :action="micropuburl"
          @submit.prevent="submitPost"
          method="POST" enctype="multipart/form-data">
        <div class="post-editor">
            <p><input
                    type="url" class="post-title" autofocus
                    name="name" v-model="postUrl" autocomplete="off"
                    placeholder="Reply to URL"/></p>
            <p><textarea ref="postBody"
                    placeholder="Reply body"
                    class="post-body"
                    v-model="postBody" name="content"></textarea></p>
        <input type="hidden" name="h" v-bind:value="postType"/>
        <div class="form-footer">
            <div class="form-syndication">
                <label v-for="target in syndication.syndicationTargets">
                <input type="checkbox" name="syndicate-to" :value="target.uid" v-model="syndicateTo">
                <img :src="target.service.photo">
                {{target.name}}
            </label>
            </div>
            <div class="form-submit">
            <span class="char-count">({{charCount}})</span>
            <button type="submit">Reply</button>
            </div>
        </div>
        <p v-show="postSuccessURL !== ''" class="new-post-link">
            <a :href="postSuccessURL" target="_blank">View post</a>
            <input :value="postSuccessURL" readonly>
        </p>
        </div>
    </form>
</div>
</script>

<script type="text/x-template" id="shareLinkEditor">
<div class="postSection">
    <div class="post-overlay" v-show="showOverlay">
        <span>
        <i class="fa fa-sync fa-spin"></i>
        </span>
    </div>
    <form :action="micropuburl"
          @submit.prevent="submitPost"
          method="POST" enctype="multipart/form-data">
        <div class="post-editor">
            <p><input
                    type="url" class="post-title" autofocus
                    name="name" v-model="postUrl" autocomplete="off"
                    placeholder="Link to share"/></p>
            <p><textarea ref="postBody"
                    placeholder="Note..."
                    class="post-body"
                    v-model="postBody" name="content"></textarea></p>
        <input type="hidden" name="h" v-bind:value="postType"/>
        <div class="form-footer">
            <div class="form-syndication">
                <label v-for="target in syndication.syndicationTargets">
                <input type="checkbox" name="syndicate-to" :value="target.uid" v-model="syndicateTo">
                <img :src="target.service.photo">
                {{target.name}}
            </label>
            </div>
            <div class="form-submit">
            <span class="char-count">({{charCount}})</span>
            <button type="submit">Save bookmark</button>
            </div>
        </div>
        <p v-show="postSuccessURL !== ''" class="new-post-link">
            <a :href="postSuccessURL" target="_blank">View post</a>
            <input :value="postSuccessURL" readonly>
        </p>
        </div>
    </form>
</div>
</script>

<script type="text/x-template" id="likeEditor">
<div class="postSection">
    <div class="post-overlay" v-show="showOverlay">
        <span>
        <i class="fa fa-sync fa-spin"></i>
        </span>
    </div>
    <form :action="micropuburl"
          @submit.prevent="submitPost"
          method="POST" enctype="multipart/form-data">
        <div class="post-editor">
            <p><input
                    type="url" class="post-title" autofocus
                    name="name" v-model="postUrl" autocomplete="off"
                    placeholder="Page to like"/></p>
            <p><textarea ref="postBody"
                    placeholder="Note..."
                    class="post-body"
                    v-model="postBody" name="content"></textarea></p>
        <input type="hidden" name="h" v-bind:value="postType"/>
        <div class="form-footer">
            <div class="form-syndication">
                <label v-for="target in syndication.syndicationTargets">
                <input type="checkbox" name="syndicate-to" :value="target.uid" v-model="syndicateTo">
                <img :src="target.service.photo">
                {{target.name}}
            </label>
            </div>
            <div class="form-submit">
            <span class="char-count">({{charCount}})</span>
            <button type="submit">Like page &#9829;</button>
            </div>
        </div>
        <p v-show="postSuccessURL !== ''" class="new-post-link">
            <a :href="postSuccessURL" target="_blank">View post</a>
            <input :value="postSuccessURL" readonly>
        </p>
        </div>
    </form>
</div>
</script>

<script type="text/x-template" id="rsvpEditor">
<div class="postSection">
    <div class="post-overlay" v-show="showOverlay">
        <span>
        <i class="fa fa-sync fa-spin"></i>
        </span>
    </div>
    <form :action="micropuburl"
          @submit.prevent="submitPost"
          method="POST" enctype="multipart/form-data">
        <div class="post-editor">
            <p><input
                    type="url" class="post-title" autofocus
                    name="name" v-model="postUrl" autocomplete="off"
                    placeholder="Event URL"/></p>
            <p><textarea ref="postBody"
                    placeholder="Note..."
                    class="post-body"
                    v-model="postBody" name="content"></textarea></p>
        <input type="hidden" name="h" v-bind:value="postType"/>
        <div class="form-footer">
            <div class="form-syndication">
                <label v-for="target in syndication.syndicationTargets">
                <input type="checkbox" name="syndicate-to" :value="target.uid" v-model="syndicateTo">
                <img :src="target.service.photo">
                {{target.name}}
            </label>
            </div>
            <div class="form-submit">
            <span class="char-count">({{charCount}})</span>
            <button type="submit">RSVP</button>
            </div>
        </div>
        <p v-show="postSuccessURL !== ''" class="new-post-link">
            <a :href="postSuccessURL" target="_blank">View post</a>
            <input :value="postSuccessURL" readonly>
        </p>
        </div>
    </form>
</div>
</script>

<script type="text/x-template" id="postsQueue">
<div class="post-queue">
    <ol v-show="msgQueue.length > 0">
        <li v-for="msg in msgQueue">
            <a class="delete-queued-msg" @click.prevent="deleteMsg(msg.id)"><i class="fas fa-times-circle"></i></a>
            <h3>{{msg.title}}</h3>
            <p class="pending-body">{{msg.preview}}</p>
            <p v-show="msg.totalImages > 0" class="total-attachments">{{msg.totalImages}} attachments</p>
            <time>{{msg.published}}</time>
        </li>
    </ol>
    <p v-show="msgQueue.length === 0">No messages queued</p>
    <p><button @click.prevent="sendAll">Send all</button></p>
</div>
</script>

<script src="autosize.min.js"></script>
<script src="client.js"></script>
<script src="idb.js"></script>
<script src="store.js"></script>
<script src="main.js"></script>
<script src="upup.min.js"></script>
<script>
    if ('serviceWorker' in navigator) {
        store.init();
        navigator.serviceWorker.register('/sw.js').then(reg => {
            if (!reg.sync) {
                console.log("No background sync support :(");
            }
        });
    }

    UpUp && UpUp.start({
    'content-url': 'index.html',
    'assets': [
        '/favicon.png?v=0',
        '/manifest.json?v=2',
        '/style.css',
        '/autosize.min.js',
        '/client.js',
        '/main.js',
        '/store.js',
        '/idb.js',
        '/vue.js',
        '/upup.min.js'
    ]
   });
</script>
</body>
</html>
